.mainContainer {
	flex: 3;
	border-style: solid;
	position: relative;
	align-self: stretch;
	margin-top: 40px;
	padding: 25px;

	h1 {
		text-align: center;
	}

	h2 {
		text-align: left;
	}

	a {
		color: red;
	}

	.mainBodyContainer {
		display: flex;
		flex-direction: column;
		gap: 30px;
	}
}

.grayedBackground {
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
	pointer-events: none;
}
